body {
    text-align: center;
}
h1 {
    color: #5169D4;
    font-family: verdana;
    font-size: 300%;
}

p {
    color: #5fc148;
    font-family: verdana;
    font-size: 100%;
    font-style: italic;
}
